@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(130, 206, 140);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(37, 58, 14, 0.616);

}
.title{
    font-size: 25px;
    margin-bottom: 10px;
    color: rgb(4, 53, 12);
}

#input{
    padding: 8px;
    margin-right: 18px;
    border-radius: 12px;
    font-size: 18px;
    border: none;

}
.btn{
    cursor: pointer;
    background-color: rgb(188, 236, 192);
    padding: 8px 15px;
    border-radius: 10px;
}
.btn:hover,.btn:active{
    background-color: rgb(118, 161, 122);
    color: rgb(231, 240, 232);
}


.to-do-form{
    display: flex;
}
.list{
    text-align: left;
    margin-top: 15px;
    color: rgb(4, 53, 12);
}

.warning{
    color: rgb(206, 21, 21);
    font-size: 15px;
    margin-top: 5px;
}
.hidden{
    color: rgba(0, 0, 0, 0);
}

.strike{
    text-decoration: line-through;
}


.list li{
   display: flex;
   justify-content: space-between;
   margin: 10px  0;
}